#root {
  text-align: center;
}

.container{
  margin-top: 60px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  padding: 25px;
  gap: 15px;
}

@media  (max-width: 1023px) {
  .container {
    margin-top: 60px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    padding: 25px;
    gap: 5px;
  }
  }

@media (min-width: 1024px) and (max-width: 1440px) {
    .container{
      margin-top: 60px;
      border: 1px solid #ddd;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
      padding: 25px;
      display: flex;
      gap: 25px;
    }
  }  
